{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        {% block title %}
            Monster High Character Information System
        {% endblock %}
    </title>

    <link rel="stylesheet" href="{% static 'characters/style.css' %}">
</head>

<body>

<header class="site-header">
    <div class="header-content">
        <a href="{% url 'characters:home' %}" class="site-title">
            Monster High
        </a>

        <nav>
            <a href="{% url 'characters:home' %}">
                Home
            </a>

            <a href="{% url 'characters:character_list' %}">
                Characters
            </a>
        </nav>
    </div>
</header>

<main class="main-content">
    {% block content %}
    {% endblock %}
</main>

<footer class="site-footer">
    <p>
        Monster High Generation 1 Character Information System
    </p>

    <p>
        SDEV 220 Final Project
    </p>
</footer>

</body>
</html>